In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import glob

In [3]:
df_golden = pd.read_csv('F:\p_fmri\code\mynew_data\golden.csv') 
df_golden['participant_id']

0      sub-10159
1      sub-10171
2      sub-10189
3      sub-10193
4      sub-10206
         ...
267    sub-70079
268    sub-70080
269    sub-70081
270    sub-70083
271    sub-70086
Name: participant_id, Length: 272, dtype: object

In [4]:
healthy_indx  = np.array(df_golden['participant_id'].str.find('sub-1'))
healthy_indx  = np.where(healthy_indx == 0)
SC_index  = np.array(df_golden['participant_id'].str.find('sub-5'))
SC_index  = np.where(SC_index == 0)
BP_indx  = np.array(df_golden['participant_id'].str.find('sub-6'))
BP_indx  = np.where(BP_indx == 0)
ADHD_indx  = np.array(df_golden['participant_id'].str.find('sub-7'))
ADHD_indx  = np.where(ADHD_indx == 0)

In [5]:
classes = np.zeros((272,1))
classes[SC_index[0]] = 1
classes[BP_indx[0]] = 2
classes[ADHD_indx[0]] = 3

In [6]:
path = "F:\p_fmri\code\mynew_data" # use your path
all_files = glob.glob(path + "/*.csv")

In [7]:
# for i in[0,14,20,21,29,19,17]:
#     print(all_files[i])
#     F:\p_fmri\code\csv_data\admin.csv
# F:\p_fmri\code\csv_data\phenotype_colorvision.csv
# F:\p_fmri\code\csv_data\phenotype_dkefs.csv
# F:\p_fmri\code\csv_data\phenotype_dkefs_spanish.csv
# F:\p_fmri\code\csv_data\phenotype_scid.csv
# F:\p_fmri\code\csv_data\phenotype_discounting.csv
# F:\p_fmri\code\csv_data\phenotype_demographics.csv

In [8]:
remove_list = [0]
i = 0
li = []
for filename in all_files:
    if i in remove_list:
        i = i + 1
        continue
    i = i + 1
    df = pd.read_csv(filename, index_col=None, header=0)
    df = df.drop(df.columns[[0]], axis=1)
    li.append(df)

frame = pd.concat(li,axis=1, join='inner')

In [9]:
frame.insert(loc=0, column='class', value=classes)

In [10]:
frame

,class,fidget,organize,remappointment,finaldetail,aviodstart,overactive,asrs_score,asrs_exclusionscore,asrs_flag,...,ymrs1,ymrs9,ymrs11,ymrs8,ymrs6,ymrs3,ymrs7,ymrs4,ymrs10,ymrs2
0,0.0,2,1,1,2,2,3,11,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,3,2,2,1,3,2,13,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,1,2,3,2,1,0,9,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,1,0,1,1,2,1,6,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0,1,1,1,1,3,7,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3.0,4,4,3,4,4,3,22,6,1,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
268,3.0,3,2,3,2,2,2,14,4,1,...,1.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,2.0
269,3.0,4,3,2,3,4,3,19,6,1,...,0.0,0.0,0.0,0.0,4.0,0.0,2.0,2.0,0.0,2.0
270,3.0,4,2,2,3,2,3,16,5,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
271,3.0,2,1,0,2,3,0,8,2,0,...,0.0,0.0,0.0,1.0,3.0,0.0,1.0,0.0,1.0,2.0

In [11]:
len(all_files)

51

In [12]:
all_files

['F:\\p_fmri\\code\\mynew_data\\admin.csv',
 'F:\\p_fmri\\code\\mynew_data\\arsr.csv',
 'F:\\p_fmri\\code\\mynew_data\\bart.csv',
 'F:\\p_fmri\\code\\mynew_data\\bipolar.csv',
 'F:\\p_fmri\\code\\mynew_data\\bprs.csv',
 'F:\\p_fmri\\code\\mynew_data\\chapinf.csv',
 'F:\\p_fmri\\code\\mynew_data\\chapper.csv',
 'F:\\p_fmri\\code\\mynew_data\\golden.csv',
 'F:\\p_fmri\\code\\mynew_data\\hamilton.csv',
 'F:\\p_fmri\\code\\mynew_data\\hopkins.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_acds_adult .csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_adhd.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_ant.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_barratt .csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_chaphyp.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_chapsoc.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_chronotype.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_colortrails.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_colorvision.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_cpt.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_cvlt.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_demographics.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_dickman.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_discounting.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_dkefs.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_dkefs_spanish.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_eysenck (1).csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_handedness.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_health.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_language .csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_medication.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_mpq.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_rk.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_sans.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_saps.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_scap.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_scid.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_smnm.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_spanish_vocab.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_sr.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_stopsignal.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_stroop.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_taskswitch.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_tbi.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_tci.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_vcap.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_visualacuity .csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_vmnm.csv',
 'F:\\p_fmri\\code\\mynew_data\\phenotype_wais.csv',
 'F:\\p_fmri\\code\\mynew_data\\wms.csv',
 'F:\\p_fmri\\code\\mynew_data\\ymrs.csv']

In [13]:
remove_list = [0,11,18,25,30,36,38]
i = 0
li = []
for filename in all_files:
    if i in remove_list:
        print(filename)
        i = i + 1
        continue
    i = i + 1
    df = pd.read_csv(filename, index_col=None, header=0)
    df = df.drop(df.columns[[0]], axis=1)
    li.append(df)

df1 = pd.concat(li,axis=1, join='inner')

F:\p_fmri\code\mynew_data\admin.csv
F:\p_fmri\code\mynew_data\phenotype_adhd.csv
F:\p_fmri\code\mynew_data\phenotype_colorvision.csv
F:\p_fmri\code\mynew_data\phenotype_dkefs_spanish.csv
F:\p_fmri\code\mynew_data\phenotype_medication.csv
F:\p_fmri\code\mynew_data\phenotype_scid.csv
F:\p_fmri\code\mynew_data\phenotype_spanish_vocab.csv

In [14]:
df1.insert(loc=0, column='class', value=classes)

In [15]:
df1

,class,fidget,organize,remappointment,finaldetail,aviodstart,overactive,asrs_score,asrs_exclusionscore,asrs_flag,...,ymrs1,ymrs9,ymrs11,ymrs8,ymrs6,ymrs3,ymrs7,ymrs4,ymrs10,ymrs2
0,0.0,2,1,1,2,2,3,11,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,3,2,2,1,3,2,13,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,1,2,3,2,1,0,9,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,1,0,1,1,2,1,6,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0,1,1,1,1,3,7,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3.0,4,4,3,4,4,3,22,6,1,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
268,3.0,3,2,3,2,2,2,14,4,1,...,1.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,2.0
269,3.0,4,3,2,3,4,3,19,6,1,...,0.0,0.0,0.0,0.0,4.0,0.0,2.0,2.0,0.0,2.0
270,3.0,4,2,2,3,2,3,16,5,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
271,3.0,2,1,0,2,3,0,8,2,0,...,0.0,0.0,0.0,1.0,3.0,0.0,1.0,0.0,1.0,2.0

In [16]:
df = df1.loc[:,df1.isnull().mean() <0.75]
df = df.replace(-9999, np.nan)
df = df.replace(-np.inf, np.nan)
j = 0
all_types = []
objects = []
for i in df.columns:
    if i == 'class':
        continue
    all_types.append(df[i].dtypes)
    if df[i].dtypes == 'object':
        print(i)
        objects.append(i)
    j += 1

frprnts
ddt_small_incon
ddt_medium_incon
ddt_large_incon
bilingual
languagespeaking
mr_time20
mr_time17
mr_time19
mr_time5
mr_time4
mr_time10
mr_time18
mr_time25
mr_time9
mr_time13
mr_time12
mr_time23
mr_time15
mr_time26
mr_time14
mr_time22
mr_time8
mr_time16
mr_time7
mr_time24
mr_time11
mr_time21
mr_time6

In [17]:
# df = df.loc[:,frame.isnull().mean() <0.5]
# j = 0
# all_types = []
# for i in df.columns:
#     all_types.append(frame[i].dtypes)
#     if frame[i].dtypes == 'object':
#         print(i)
#         j += 1

In [18]:
from sklearn import preprocessing

for col in objects:
    if col.find('mr_time')==0 or col == 'frprnts':
        df = df.drop([col], axis=1)
        print(col)
    else:
        print("/")
        enc = preprocessing.OneHotEncoder(handle_unknown='ignore')
        df[col].fillna(df[col].value_counts().index[0], inplace=True)
        x = np.array(df[col]).reshape(-1, 1)
        df = df.drop([col], axis=1)
        transformed = enc.fit_transform(x)
        transformed = transformed.toarray()
        length = transformed.shape[1]  
        transformed = pd.DataFrame(transformed)
        transformed.columns  = [col + str(i) for i in range(0,length)] 
        df = pd.concat([df,transformed],axis=1, join='inner')

frprnts
/
/
/
/
/
mr_time20
mr_time17
mr_time19
mr_time5
mr_time4
mr_time10
mr_time18
mr_time25
mr_time9
mr_time13
mr_time12
mr_time23
mr_time15
mr_time26
mr_time14
mr_time22
mr_time8
mr_time16
mr_time7
mr_time24
mr_time11
mr_time21
mr_time6

In [19]:
df

,class,fidget,organize,remappointment,finaldetail,aviodstart,overactive,asrs_score,asrs_exclusionscore,asrs_flag,...,ymrs4,ymrs10,ymrs2,ddt_small_incon0,ddt_medium_incon0,ddt_large_incon0,bilingual0,bilingual1,languagespeaking0,languagespeaking1
0,0.0,2,1,1,2,2,3,11,2,0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0
1,0.0,3,2,2,1,3,2,13,4,1,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0
2,0.0,1,2,3,2,1,0,9,3,0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0
3,0.0,1,0,1,1,2,1,6,0,0,...,NaN,NaN,NaN,1.0,1.0,1.0,0.0,1.0,1.0,0.0
4,0.0,0,1,1,1,1,3,7,1,0,...,NaN,NaN,NaN,1.0,1.0,1.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3.0,4,4,3,4,4,3,22,6,1,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
268,3.0,3,2,3,2,2,2,14,4,1,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
269,3.0,4,3,2,3,4,3,19,6,1,...,2.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
270,3.0,4,2,2,3,2,3,16,5,1,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
271,3.0,2,1,0,2,3,0,8,2,0,...,0.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0

In [20]:
bool_cols = [c for c in df.columns if df[c].dropna().value_counts().index.isin([0,1]).all()]
bool_cols

['asrs_flag',
 'bipolarii11',
 'bipolarii12',
 'bipolarii10',
 'bipolarii17',
 'bipolarii8',
 'bipolarii2',
 'bipolarii7',
 'bipolarii5',
 'bipolarii22',
 'bipolarii3',
 'bipolarii27',
 'bipolarii19',
 'bipolarii16',
 'bipolarii31',
 'bipolarii1',
 'bipolarii6',
 'bipolarii15',
 'bipolarii23',
 'bipolarii30',
 'bipolarii21',
 'bipolarii29',
 'bipolarii4',
 'bipolarii9',
 'bipolarii20',
 'bipolarii13',
 'bipolarii26',
 'bipolarii14',
 'bipolarii24',
 'bipolarii25',
 'bipolarii18',
 'bipolarii28',
 'srcpatient',
 'chapinf6',
 'chapinf4',
 'chapinf3',
 'chapinf13',
 'chapinf8',
 'chapinf11',
 'chapinf5',
 'chapinf10',
 'chapinf12',
 'chapinf2',
 'chapinf7',
 'chapinf1',
 'chapinf9',
 'chapper4',
 'chapper30',
 'chapper23',
 'chapper21',
 'chapper14',
 'chapper15',
 'chapper11',
 'chapper5',
 'chapper10',
 'chapper3',
 'chapper27',
 'chapper33',
 'chapper18',
 'chapper8',
 'chapper29',
 'chapper6',
 'chapper28',
 'chapper20',
 'chapper31',
 'chapper17',
 'chapper13',
 'chapper25',
 'chapper22',
 'chapper35',
 'chapper2',
 'chapper1',
 'chapper7',
 'chapper34',
 'chapper9',
 'chapper24',
 'chapper26',
 'chapper16',
 'chapper19',
 'chapper12',
 'chapper32',
 'golden3',
 'golden1',
 'golden2',
 'golden4',
 'golden5',
 'golden6',
 'golden7',
 'ant_nc_mn_ac',
 'ant_ii_std_ac',
 'ant_cn_std_ac',
 'ant_ni_std_ac',
 'ant_in_std_ac',
 'ant_cc_mn_ac',
 'ant_median_accinc',
 'ant_ci_mn_ac',
 'ant_median_accneu',
 'ant_nn_std_ac',
 'ant_median_acccon',
 'ant_ic_mn_ac',
 'ant_nn_mn_ac',
 'ant_ni_mn_ac',
 'ant_in_mn_ac',
 'ant_ci_std_ac',
 'ant_cc_std_ac',
 'ant_ic_std_ac',
 'ant_cn_mn_ac',
 'ant_ii_mn_ac',
 'ant_nc_std_ac',
 'chaphypo40',
 'chaphypo35',
 'chaphypo9',
 'chaphypo24',
 'chaphypo39',
 'chaphypo27',
 'chaphypo20',
 'chaphypo38',
 'chaphypo21',
 'chaphypo22',
 'chaphypo45',
 'chaphypo42',
 'chaphypo14',
 'chaphypo37',
 'chaphypo48',
 'chaphypo29',
 'chaphypo33',
 'chaphypo32',
 'chaphypo3',
 'chaphypo26',
 'chaphypo18',
 'chaphypo16',
 'chaphypo31',
 'chaphypo43',
 'chaphypo30',
 'chaphypo17',
 'chaphypo5',
 'chaphypo2',
 'chaphypo11',
 'chaphypo34',
 'chaphypo7',
 'chaphypo19',
 'chaphypo1',
 'chaphypo47',
 'chaphypo25',
 'chaphypo8',
 'chaphypo23',
 'chaphypo36',
 'chaphypo15',
 'chaphypo13',
 'chaphypo44',
 'chaphypo12',
 'chaphypo10',
 'chaphypo4',
 'chaphypo28',
 'chaphypo6',
 'chaphypo41',
 'chaphypo46',
 'chapsoc34',
 'chapsoc2',
 'chapsoc38',
 'chapsoc8',
 'chapsoc37',
 'chapsoc24',
 'chapsoc12',
 'chapsoc13',
 'chapsoc9',
 'chapsoc18',
 'chapsoc22',
 'chapsoc29',
 'chapsoc31',
 'chapsoc15',
 'chapsoc17',
 'chapsoc36',
 'chapsoc33',
 'chapsoc20',
 'chapsoc25',
 'chapsoc1',
 'chapsoc14',
 'chapsoc23',
 'chapsoc19',
 'chapsoc6',
 'chapsoc30',
 'chapsoc16',
 'chapsoc39',
 'chapsoc40',
 'chapsoc4',
 'chapsoc27',
 'chapsoc7',
 'chapsoc5',
 'chapsoc26',
 'chapsoc32',
 'chapsoc10',
 'chapsoc28',
 'chapsoc11',
 'chapsoc21',
 'chapsoc3',
 'chapsoc35',
 'frdark',
 'frprntslp',
 'frnap',
 'frlight',
 'regsch',
 'wknap',
 'crt_ne2',
 'cpt_inh_cnt_750',
 'cpt_inh_cnt_3750',
 'cpt_miss',
 'cpt_inh_cnt_1750',
 'cvlt_ind2',
 'cvlt_ind1',
 'school_back',
 'sexuality_opt',
 'adopt',
 'dick46',
 'dick28',
 'dick26',
 'dick40',
 'dick43',
 'dick21',
 'dick30',
 'dick44',
 'dick23',
 'dick8',
 'dick34',
 'dick38',
 'dick5',
 'dick27',
 'dick9',
 'dick32',
 'dick7',
 'dick20',
 'dick12',
 'dick37',
 'dick45',
 'dick2',
 'dick36',
 'dick10',
 'dick39',
 'dick18',
 'dick24',
 'dick15',
 'dick29',
 'dick19',
 'dick3',
 'dick6',
 'dick11',
 'dick41',
 'dick1',
 'dick25',
 'dick14',
 'dick42',
 'dick33',
 'dick17',
 'dick31',
 'dick22',
 'dick13',
 'dick35',
 'dick4',
 'dick16',
 'ddt_items7_typo',
 'eysenck46',
 'eysenck38',
 'eysenck25',
 'eysenck24',
 'eysenck19',
 'eysenck45',
 'eysenck9',
 'eysenck50',
 'eysenck31',
 'eysenck30',
 'eysenck14',
 'eysenck42',
 'eysenck28',
 'eysenck5',
 'eysenck35',
 'eysenck32',
 'eysenck37',
 'eysenck43',
 'eysenck17',
 'eysenck34',
 'eysenck22',
 'eysenck7',
 'eysenck53',
 'eysenck13',
 'eysenck3',
 'eysenck1',
 'eysenck33',
 'eysenck48',
 'eysenck23',
 'eysenck26',
 'eysenck49',
 'eysenck44',
 'eysenck41',
 'eysenck36',
 'eysenck47',
 'eysenck4',
 'eysenck27',
 'eysenck10',
 'eysenck11',
 'eysenck6',
 'eysenck29',
 'eysenck54',
 'eysenck21',
 'eysenck8',
 'eysenck40',
 'eysenck51',
 'eysenck18',
 'eysenck2',
 'eysenck12',
 'eysenck52',
 'eysenck16',
 'eysenck15',
 'eysenck20',
 'eysenck39',
 'la2khealth19',
 'la2khealth2',
 'la2khealth14',
 'la2khealth9',
 'la2khealth3',
 'la2khealth7',
 'la2khealth5',
 'la2khealth8',
 'la2khealth21',
 'la2khealth4',
 'la2khealth12',
 'la2khealth17',
 'la2khealth18',
 'la2khealth15',
 'la2khealth1',
 'la2khealth16',
 'la2khealth13',
 'la2khealth6',
 'la2khealth11',
 'la2khealth20',
 'la2khealth10',
 'mpq24',
 'mpq209',
 'mpq234',
 'mpq112',
 'mpq185',
 'mpq2',
 'mpq12',
 'mpq243',
 'mpq147',
 'mpq92',
 'mpq251',
 'mpq159',
 'mpq79',
 'mpq124',
 'mpq103',
 'mpq57',
 'mpq136',
 'mpq38',
 'mpq195',
 'mpq219',
 'mpq172',
 'mpq266',
 'mpq47',
 'mpq70',
 'rk_notrnotk',
 'rk_recso',
 'rk_recuo',
 'scap1_omissionsno_sum',
 'scap7_omissionsyes_sum',
 'scap5_omissionsno_sum',
 'scap3_omissionsno_sum',
 'scap1_omissionsyes_sum',
 'scap5_omissionsyes_sum',
 'scap3_omissions_sum',
 'scap3_omissionsyes_sum',
 'scap7_omissions_sum',
 'scap7_omissionsno_sum',
 'scap5_omissions_sum',
 'scap1_omissions_sum',
 'sr_omi_rec',
 'sr_omi_enc',
 'scwt_cc_std_ac',
 'scwt_ic_std_ac',
 'scwt_ci_mn_ac',
 'scwt_ic_mn_ac',
 'scwt_ii_std_ac',
 'scwt_ii_mn_ac',
 'scwt_cc_mn_ac',
 'scwt_omission',
 'scwt_ci_std_ac',
 'tbi3',
 'tbi2',
 'tbisource',
 'tbi4',
 'tbi1',
 'tci137p',
 'tci236t',
 'tci154t',
 'tci62p',
 'tci14t',
 'tci60p',
 'tci34t',
 'tci27t',
 'tci35t',
 'tci139t',
 'tci174t',
 'tci55t',
 'tci2t',
 'tci83t',
 'tci213t',
 'tci147t',
 'tci61t',
 'tci203t',
 'tci44t',
 'tci22t',
 'tci200p',
 'tci113t',
 'tci126p',
 'tci180t',
 'tci211t',
 'tci153p',
 'tci8p',
 'tci143t',
 'tci28t',
 'tci80t',
 'tci22p',
 'tci53t',
 'tci219t',
 'tci129t',
 'tci164t',
 'tci94p',
 'tci197p',
 'tci192t',
 'tci144t',
 'tci158t',
 'tci141t',
 'tci81t',
 'tci66t',
 'tci140p',
 'tci210t',
 'tci91t',
 'tci129p',
 'tci45p',
 'tci100t',
 'tci65t',
 'tci92t',
 'tci189p',
 'tci43t',
 'tci146p',
 'tci188t',
 'tci29t',
 'tci163p',
 'tci55p',
 'tci182t',
 'tci202t',
 'tci173p',
 'tci181t',
 'tci41t',
 'tci212t',
 'tci156t',
 'tci111p',
 'tci157t',
 'tci207p',
 'tci110t',
 'tci37p',
 'tci3t',
 'tci82t',
 'tci52t',
 'tci76p',
 'tci237t',
 'tci117t',
 'tci209t',
 'tci228p',
 'tci70t',
 'tci79t',
 'tci224t',
 'tci231t',
 'tci130t',
 'tci63t',
 'tci193t',
 'tci72p',
 'tci230t',
 'tci46t',
 'tci183t',
 'tci148t',
 'tci226t',
 'tci21t',
 'tci19t',
 'tci149t',
 'tci142t',
 'tci187t',
 'tci26t',
 'tci119p',
 'tci108t',
 'tci202p',
 'tci20t',
 'tci67t',
 'tci217t',
 'tci12t',
 'tci109t',
 'tci102t',
 'tci71t',
 'tci191p',
 'tci54t',
 'tci112t',
 'tci5p',
 'tci114p',
 'tci240t',
 'tci225t',
 'tci165t',
 'tci99t',
 'tci114t',
 'tci13t',
 'tci201t',
 'tci229p',
 'tci155t',
 'tci158p',
 'tci42t',
 'tci117p',
 'tci238p',
 'tci191t',
 'tci1t',
 'tci119t',
 'tci134p',
 'tci189t',
 'tci131t',
 'tci167t',
 'tci240p',
 'tci120t',
 'tci239t',
 'tci68t',
 'tci204t',
 'tci238t',
 'vcap7_omissions_sum',
 'vcap5_omissionsyes_sum',
 'vcap5_omissionsno_sum',
 'vcap3_omissions_sum',
 'vcap9_omissionsno_sum',
 'vcap7_omissionsno_sum',
 'vcap7_omissionsyes_sum',
 'vcap5_omissions_sum',
 'vcap9_omissionsyes_sum',
 'vcap9_omissions_sum',
 'vcap3_omissionsno_sum',
 'vcap3_omissionsyes_sum',
 'ddt_small_incon0',
 'ddt_medium_incon0',
 'ddt_large_incon0',
 'bilingual0',
 'bilingual1',
 'languagespeaking0',
 'languagespeaking1']

In [21]:
# col='fidget'
# df[col].dropna().value_counts().index.isin([0,1]).all()

In [22]:
c=list(df.columns)

In [23]:
df_null = df.isnull()

In [24]:
#stats.norm.ppf((1+0.683)/2)
df['hamilton18b']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
267    2.0
268    0.0
269    1.0
270    1.0
271    0.0
Name: hamilton18b, Length: 272, dtype: float64

In [25]:
df['hamilton18b'].var()

0.5244821092278728

In [26]:
df['hamilton18b'].mean()

0.5338983050847458

In [27]:
from scipy import stats
ratio = stats.norm.ppf((1+.683)/2)
threshold = df.mean() + np.sqrt(df.var()) * ratio
threshold

class                2.157034
fidget               3.391449
organize             2.752492
remappointment       2.406102
finaldetail          2.701557
                       ...
ddt_large_incon0     1.000000
bilingual0           1.115716
bilingual1           0.851010
languagespeaking0    1.157040
languagespeaking1    0.237923
Length: 1557, dtype: float64

In [28]:
df['hamilton18b']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
267    2.0
268    0.0
269    1.0
270    1.0
271    0.0
Name: hamilton18b, Length: 272, dtype: float64

In [29]:
df.to_csv('test.csv',index=False)

In [30]:
for column in threshold.index:
    if column not in bool_cols and column != 'class':
        # df[df[column]<=threshold[column]] = 0
        # df[df[column]>threshold[column]] = 1
        df[column] = np.where(df[column]<threshold[column],0,1)
        df[column] = np.where(df_null[column],np.nan,df[column])

In [31]:
df_null[column]

0      False
1      False
2      False
3      False
4      False
       ...
267    False
268    False
269    False
270    False
271    False
Name: languagespeaking1, Length: 272, dtype: bool

In [32]:
df.to_csv('my.csv',index=False)

In [33]:
len([col for col in df if df[col].dropna().value_counts().index.isin([0,1]).all()])

1556

In [34]:
mm = df.max()

In [35]:
df['ymrs10']<threshold['ymrs10']

0      False
1      False
2      False
3      False
4      False
       ...
267    False
268     True
269     True
270     True
271    False
Name: ymrs10, Length: 272, dtype: bool

In [36]:

np.isnan(df['ymrs10'][0])

True

In [37]:

print(df.isnull().sum(axis = 0))

class                0
fidget               0
organize             0
remappointment       0
finaldetail          0
                    ..
ddt_large_incon0     0
bilingual0           0
bilingual1           0
languagespeaking0    0
languagespeaking1    0
Length: 1557, dtype: int64

In [38]:
writer = pd.ExcelWriter('data.xlsx', engine = 'xlsxwriter')
frame.to_excel(writer, sheet_name='Sheet1',index=False)
df1.to_excel(writer, sheet_name='Sheet2',index=False)
df.to_excel(writer, sheet_name='Sheet3',index=False)
writer.save()
writer.close()

In [39]:
df

,class,fidget,organize,remappointment,finaldetail,aviodstart,overactive,asrs_score,asrs_exclusionscore,asrs_flag,...,ymrs4,ymrs10,ymrs2,ddt_small_incon0,ddt_medium_incon0,ddt_large_incon0,bilingual0,bilingual1,languagespeaking0,languagespeaking1
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,NaN,NaN,NaN,1.0,1.0,1.0,0.0,1.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,NaN,NaN,NaN,1.0,1.0,1.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,...,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
268,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
269,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
270,3.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
271,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0

In [40]:
df1

,class,fidget,organize,remappointment,finaldetail,aviodstart,overactive,asrs_score,asrs_exclusionscore,asrs_flag,...,ymrs1,ymrs9,ymrs11,ymrs8,ymrs6,ymrs3,ymrs7,ymrs4,ymrs10,ymrs2
0,0.0,2,1,1,2,2,3,11,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,3,2,2,1,3,2,13,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,1,2,3,2,1,0,9,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,1,0,1,1,2,1,6,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0,1,1,1,1,3,7,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3.0,4,4,3,4,4,3,22,6,1,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
268,3.0,3,2,3,2,2,2,14,4,1,...,1.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,2.0
269,3.0,4,3,2,3,4,3,19,6,1,...,0.0,0.0,0.0,0.0,4.0,0.0,2.0,2.0,0.0,2.0
270,3.0,4,2,2,3,2,3,16,5,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
271,3.0,2,1,0,2,3,0,8,2,0,...,0.0,0.0,0.0,1.0,3.0,0.0,1.0,0.0,1.0,2.0

In [41]:
frame

,class,fidget,organize,remappointment,finaldetail,aviodstart,overactive,asrs_score,asrs_exclusionscore,asrs_flag,...,ymrs1,ymrs9,ymrs11,ymrs8,ymrs6,ymrs3,ymrs7,ymrs4,ymrs10,ymrs2
0,0.0,2,1,1,2,2,3,11,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,3,2,2,1,3,2,13,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,1,2,3,2,1,0,9,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,1,0,1,1,2,1,6,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0,1,1,1,1,3,7,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,3.0,4,4,3,4,4,3,22,6,1,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
268,3.0,3,2,3,2,2,2,14,4,1,...,1.0,1.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,2.0
269,3.0,4,3,2,3,4,3,19,6,1,...,0.0,0.0,0.0,0.0,4.0,0.0,2.0,2.0,0.0,2.0
270,3.0,4,2,2,3,2,3,16,5,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
271,3.0,2,1,0,2,3,0,8,2,0,...,0.0,0.0,0.0,1.0,3.0,0.0,1.0,0.0,1.0,2.0

In [42]:
df['ymrs1'].sum(axis = 0)

33.0

In [43]:
df['ymrs1'].mean(skipna=True)

0.2323943661971831

In [44]:
threshold['hamilton18b']

1.2585744953182871

In [45]:
df['hamilton18b']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
267    1.0
268    0.0
269    0.0
270    0.0
271    0.0
Name: hamilton18b, Length: 272, dtype: float64

In [46]:
 df['hamilton18b'].mean() + np.sqrt(df['hamilton18b'].var()) * ratio

0.47962993831887624

In [47]:
df['hamilton18b'].mean()

0.13559322033898305

In [48]:
df['hamilton18b']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
267    1.0
268    0.0
269    0.0
270    0.0
271    0.0
Name: hamilton18b, Length: 272, dtype: float64

In [49]:
df.mean() + np.sqrt(df.var()) * ratio

class                2.157034
fidget               0.558638
organize             0.598414
remappointment       0.509416
finaldetail          0.598414
                       ...
ddt_large_incon0     1.000000
bilingual0           1.115716
bilingual1           0.851010
languagespeaking0    1.157040
languagespeaking1    0.237923
Length: 1557, dtype: float64